.newitemcontainer {
    font-family: armadillo;
    text-align: center;
    cursor: default;
}

#devicename {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

#devicetext {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.fieldlabel {
    color: grey;
}