<div class="newitemcontainer">
  <h2>Add New Item</h2>
  <br />
  <div class="inputgrid">
    <div class="inputcard">
      Enter the name of the Item
      <br>
      <input #itemName placeholder="Here" class="inputfield">
    </div>
    <div class="inputcard">
      Enter the description of the Item
      <br>
      <input #itemDescription placeholder="Here" class="inputfield">
    </div>
    <div class="inputcard">
      Enter the price of the Item
      <br>
      <input #itemPrice placeholder="Here" class="inputfield" type="number">
    </div>
  </div>
</div>